@import '../../../../assets/scss/variables.scss';

.article-modal-tags {
  width: 300px;
  height: 200px;
  padding: 10px;
  position: absolute;
  top: 25px;
  right: 50px;
  background-color: $white;
  z-index: 5;
  box-shadow: $black-box-shadow;
  overflow-y: auto;
  &__title {
    margin-bottom: 10px;
  }
}