@import './variables.scss';

.modal {
  width: 550px;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  z-index: 5;
  border-radius: 10px;
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #0000008c;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  &__close {
    position: absolute;
    top: 0;
    right: -30px;
  }  
}