$black: #000000;
$grey: #6d6767f5;
$green: #5cb85c;
$white: #fff;
$error: #e75454;
$light: #ccc;
$light-green: rgba(42, 150, 42, 0.5);
$light-blue: #54DAE7;
$light-black: rgba(0,0,0,.15);
$black-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$black-box-shadow-light: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
