@import '../../../../assets/scss/variables.scss';

.article-user {
  &__date {
    color: $grey;
  }
  &__flex {
    display: flex;
    align-items: center;
  }

  &--margin-top {
    margin-top: 10px;
  }
}