@import '../../../assets/scss/variables.scss';

.button {
  padding: 10px 10px;
  color: white;
  border: none;
  background-color: $green;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out .2s;
  outline: none;
  &--flex-end {
    align-self: flex-end;
  }
  &:hover {
    background-color: $green;
  }
  &:disabled {
    background-color: $grey;
    cursor: not-allowed;
  }
  &__profile {
    align-self: flex-end;
    background-color: $white;
    color: $black;
    &:hover {
      color:$white;
    }
  }

  &__remove {
    background-color: transparent;
    border: 1px solid $error;

    &:hover {
      background-color: $error;
    }

    &:disabled {
      border: 1px solid $grey;
    }
  }
  &__edit {
    background-color: transparent;
    border: 1px solid $green;
    &:hover {
      background-color: $green;
    }

    &:disabled {
      border: 1px solid $grey;
    }
  }
  &__flex-end {
    align-self: flex-end;
  }
  &__delete-modal {
    width: 100px;
    margin-right: 10px;
  }
}