@import '../../../assets/scss/variables.scss';

.user-article {

  &__title {
    color: $white;
    margin-bottom: 10px;
  }
  &__username {
    color: $white;
  }
  &__date {
    color: #bbb;
  }
  &__body {
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid $light;
    margin-bottom: 20px;
  }
  &__date {
    color: $grey;
  }
  &__comments {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}