@import '../../../assets/scss/variables.scss';

.textarea {
  border: 1px solid $light-black;
  color: $black;
  width: 100%;
  padding: 15px 10px;
  outline-color: $light-blue;
  font-size: 16px;
  &::placeholder {
    color: $grey;
  }
}
