@import '../../../assets/scss/variables.scss';

.textarea {
  width: 100%;
  outline: none;
  border: none;
  position: relative;

  &__element {
    border: 1px solid $light-black;
    color: $black;
    width: 100%;
    padding: 15px 10px;
    outline-color: $light-blue;
    font-size: 16px;
    &::placeholder {
      color: $grey;
    }
  }

  &__error {
    position: absolute;
    top: 75px;
    color: $error;
  }

  &__form {
    margin-bottom: 35px;
  }
}