@import '../../../assets/scss/variables.scss';

.comment {
  width: 450px;
  padding: 10px;
  border: 1px solid $light;
  margin-bottom: 20px;
  &__body {
    border-bottom: 1px solid $light;
    padding-bottom: 20px;
  }
}