.user-avatar {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__feed {
    margin-right: 10px;
  }
  &--mb-10 {
    margin-bottom: 10px;
  } 
  &--small {
    width: 30px;
    height: 30px;
  }
  &--middle {
    width: 90px;
    height: 90px;
  }
}