.user-avatar {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &--small {
    width: 30px;
    height: 30px;
  }
  &--middle {
    width: 90px;
    height: 90px;
  }
}