@import '../../../assets/scss/variables.scss';

.tab {
  display: inline-block;
  color: $grey;
  text-decoration: none;
  margin-right: 20px;
  transition: .2s all ease;
  &:hover {
    color: $light-green;
  }
  &--active {
    color: $green;
  }
}